<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offensive language reporter</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index-style.css')}}">
    <script src="{{ url_for('static', filename='Javascript/profileDisplayer.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>



<div>
    <ul>
        <li>
            <a href="/users">Top offensive users</a>
        </li>
    </ul>
</div>

{% if updateMsg %}
{{updateMsg|safe}}
{% endif %}

<div class="main">
    <form method="post" enctype="multipart/form-data">
        <label>
            <h1>Personal information</h1>
        </label>

        <div class="vertical-line"></div>

        <label for="profileImg">Profile image:</label>
        <div id="img" onclick="triggerClick()">
            <img src="/image/default.jpg" id="profileDisplay", style="height: 100; width: 100;">
        </div>
        <input type="file" id="profileImg" name="profileImg" style="display: none;" onchange="displayImg(this)">

        <label for="name">Full name:</label>
        <input type="text" id="name" name="name" required>

        <label for="link">User's link</label>
        <input type="text" id="link" name="link" required>

        <label>
            <h1>Post content</h1>
        </label>
        <div class="vertical-line"></div>

        <label for="content">Type of post</label>
        <div id="content">
            <input type="checkbox" id="offensive" name="offensiveCheckbox" value="offensive">
            <label for="offensive">Offensive</label>
            <br/>

            <input type="checkbox" id="racist" name="racistCheckbox" value="racist">
            <label for="racist">Racist</label>

            <br/>
            <label for="race">Toward</label>
            <select id="race" name="race">
            {% for elem in array %}
                <option value="{{elem}}">{{elem}}</option>
            {% endfor %}
            </select>
            <input type="text" name="other" placeholder="other">
            <br/>
            <label for="postContent">Post content</label>
            <br/>
            <textarea id="postContent" name="content"></textarea>

        </div>






        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>