<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top offensive users</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index-style.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<ul>
    <li>
        <a href="/">Report</a>
    </li>
</ul>

{% if updateMsg %}]
{{updateMsg|safe}}
{% endif %}

<table class="table table-hover">
    <thead>
    <tr>
        <td>
            #
        </td>

        <td></td>

        <td>
            Name
        </td>

        <td>
            <a href="?sort=racist"># racist reports</a>
        </td>

        <td>
            <a href="?sort=offensive"># offensive reports</a>
        </td>
    </tr>
    </thead>
    {% for row in array %}
        <tr>
        {% for col in row %}
            <td>
            {% if loop.index == 2 %}
                <img src="static/{{col}}" style="height: 50px; width: 50px;">
            {% else %}
                {{col|safe}}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>

</body>
</html>