<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index-style.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<ul>
    <li>
        <a href="/">Report</a>
    </li>
    <li>
        <a href="/users">Top offensive users</a>
    </li>
</ul>

<div>
    <span><h2><strong>User:</strong></h2></span>
    <span>
        <img src="static/{{ImgPath}}" style="width: 80px; height: 80px;">
    </span>
    <label>
        {{name}}
    </label>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <td>
            #
        </td>
        <td>
            Toward
        </td>
        <td>
            Link to post
        </td>
        <td>
            Post content
        </td>
    </tr>
    </thead>
{% for row in postsArray %}
<tr>
    {% for col in row %}
    <td>
        {{col|safe}}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</table>
</body>
</html>